os: osx
language: objective-c
osx_image: xcode11.2
script:
  - set -o pipefail && xcodebuild build -project project-saarah.xcodeproj -scheme project-saarah -sdk iphonesimulator13.2 -destination 'name=iPhone 8,OS=13.2.2' ONLY_ACTIVE_ARCH=NO | xcpretty

